{% extends 'cadastros/modelo.html' %}
{% load static %}
{% load meus_filtros %}

{% block titulo %}
    <title>Lista de Doses Tratamentos</title>
 {% endblock %}

{% block titulo_pagina %}
    <h3>Lista de Doses Tratamentos</h3>
{% endblock %}

{% block midia_social %}
    <div id="social-media" style="margin: 5px;">
                        
        </div>
{% endblock %}

{% block conteudo %}
   <table class="table table-striped p-4">
       <tr>
           <th>ID</th>
           <th>Alarme</th>
           <th>Compartimento</th>
           <th>Tempo de alerta</th>
           <th>Status da Ingestão</th>
           <th>Status da Sincronização</th>
           <th>Status do Tratamento</th>
           <th>Opção</th>
       </tr>

       {% for dose_tratamento in object_list %}
       <tr>
           <td>{{ dose_tratamento.pk }}</td>
           <td>{{ dose_tratamento.alarme }}</td>
           <td>{{ dose_tratamento.compartimento_caixa }}</td>
           <td>{{ dose_tratamento.tempo_alerta_especifico }}</td>
           <!-- <td>{{ dose_tratamento.status_ingestao }}</td> -->
           <td>{% definir_status_ingestao dose_tratamento.status_ingestao %}</td>
           <td>{{ dose_tratamento.status_sincronizacao }}</td>
           <td>{{ dose_tratamento.status_tratamento }}</td>
           <td>
               <a href="{% url 'atualizar-doses-tratamento' dose_tratamento.pk %}" class="btn btn-warning btn-sm">Editar</a>
               <a href="{% url 'excluir-doses-tratamento' dose_tratamento.pk %}" class="btn btn-danger btn-sm">Excluir</a>
           </td>
       </tr>
       {% empty %}
       <tr>
           <td colspan="100%">Nenhum tratamento cadastrado!</td>
       </tr>
       {% endfor %}
   </table>

{% endblock %}