{% extends 'cadastros/modelo.html' %}
{% load static %}
{% load meus_filtros %}

{% block titulo %}
    <title>Lista de Tratamentos</title>
{% endblock %}

{% block titulo_pagina %}
    <h3>Lista de Tratamentos</h3>
{% endblock %}

{% block midia_social %}
    <div id="social-media" style="margin: 5px;">
                        
    </div>
{% endblock %}

{% block conteudo %}

    <table class="table table-striped p-4">
        <tr>
            <th>ID</th>
            <th>Prescrito por</th>
            <th>Data Prescrição</th>
            <th>Medicamento</th>
            <th>Frequencia Diária</th>
            <th>Horários Diários</th>
            <th>Dose</th>
            <th>Unidade Medida</th>
            <th>Data Início</th>
            <th>Tipo de Tratamento</th>
            <th>Período</th>
            <th>Data de Término</th>
            <th>Observação</th>
            <th>Lote</th>
            <th>Validade</th>
            <th>Embalagem Fracionável</th>
            <th>Qtde total/Embalagem</th>
            <th>Amostra Grátis</th>
            <th>Status Tratamento</th>
            <th>Paciente</th>
            <th>Cadastrado em</th>
            <th>Atualizado em</th>
            <th>Opções</th>
        </tr>

        {% for tratamento in object_list %}
        <tr>
            <td>{{ tratamento.pk }}</td>
            <td>{{ tratamento.prescrito_por.nome }}</td>
            <td>{{ tratamento.data_prescricao }}</td>
            <td>{{ tratamento.medicamento.nome_comercial }}</td>
            <td>{{ tratamento.frequencia_diaria }}</td>
            <td>{{ tratamento.horarios_diarios }}</td>
            <td>{{ tratamento.dose }}</td>
            <td>{{ tratamento.unidade_medida }}</td>
            <td>{{ tratamento.data_inicio }}</td>
            <td>{{ tratamento.tipo_tratamento }}</td>
            <td>{{ tratamento.periodo_tratamento }}</td>
            <td>{{ tratamento.data_fim }}</td>
            <td>{{ tratamento.observacao }}</td>
            <td>{{ tratamento.lote }}</td>
            <td>{{ tratamento.validade }}</td>
            <!-- <td>{{ tratamento.embalagem_fracionavel }}</td> -->
            <td>{{ tratamento.embalagem_fracionavel|substituir_boolean }}</td> 
            <td>{{ tratamento.quantidade_total_embalagem }}</td>
            <td>{{ tratamento.amostra_gratis|substituir_boolean }}</td>
            <td>{{ tratamento.status_tratamento }}</td>
            <td>{{ tratamento.paciente.nome }}</td>
            <td>{{ tratamento.cadastrado_em }}</td>
            <td>{{ tratamento.atualizado_em }}</td>
            <td>
                <a href="{% url 'atualizar-tratamento' tratamento.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'excluir-tratamento' tratamento.pk %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="100%">Nenhum tratamento cadastrado!</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
 